<h3>层次化索引</h3>

In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [8]:
data

a  1   -0.373494
   2   -0.668012
   3   -0.735246
b  1   -0.152485
   3    0.876807
c  1    1.497258
   2    0.594634
d  2    0.044359
   3   -1.661042
dtype: float64

In [10]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

重排和分级排序

In [2]:
frame = pd.DataFrame(np.arange(12).reshape(3, 4), 
                     index=[['a', 'a', 'b'], [1, 2, 1]],
                    columns=[['A', 'A', 'B', 'B'], ['green', 'red', 'yellow', 'blue']])
frame

        A          B
    green red yellow blue
a 1     0   1      2    3
  2     4   5      6    7
b 1     8   9     10   11

各层都可以有名字

In [3]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'name']
frame

state         A          B
name      green red yellow blue
key1 key2
a    1        0   1      2    3
     2        4   5      6    7
b    1        8   9     10   11

In [4]:
frame['A']

name       green  red
key1 key2
a    1         0    1
     2         4    5
b    1         8    9

In [5]:
frame.swaplevel('key1', 'key2')

state         A          B
name      green red yellow blue
key2 key1
1    a        0   1      2    3
2    a        4   5      6    7
1    b        8   9     10   11

In [7]:
frame.swaplevel(0, 1).sort_index(level=0)

state         A          B
name      green red yellow blue
key2 key1
1    a        0   1      2    3
     b        8   9     10   11
2    a        4   5      6    7

In [8]:
frame.sum(level='key2')

state     A          B
name  green red yellow blue
key2
1         8  10     12   14
2         4   5      6    7

<h3>合并数据集</h3>

In [9]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)}) 

df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [10]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [11]:
pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [12]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [14]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})

pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [16]:
pd.merge(df1, df2, how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

<pre>
    inner    使用两个表都有的键
    left     使用左表中的所有的键
    right    使用右表中所有的键
    outer    使用两个表中所有的键
</pre>

### 轴向连接

In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.arange(12).reshape(3, 4)

In [3]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [4]:
np.concatenate([arr, arr], axis=1)  # 在列上增加

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

### 合并重叠数据

In [5]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
                        'b': [np.nan, 2., np.nan, 6.],
                        'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                     'b': [np.nan, 3., 4., 6., 8.]})
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN