In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                       'key2' : ['one', 'two', 'one', 'two', 'one'],
                       'data1' : np.random.randn(5),
                       'data2' : np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  1.087277  0.054092
1    a  two -0.336976 -0.679898
2    b  one  1.545794  1.245336
3    b  two -0.620581 -1.146148
4    a  one  0.490960  1.176601

In [8]:
group = df['data1'].groupby(df['key1'])
group.mean()

key1
a    0.413754
b    0.462606
Name: data1, dtype: float64

In [13]:
means = df['data2'].groupby([df['key1'], df['key2']])
means.mean()

key1  key2
a     one     0.615347
      two    -0.679898
b     one     1.245336
      two    -1.146148
Name: data2, dtype: float64

In [14]:
from datetime import datetime

In [15]:
now = datetime.now()
now

datetime.datetime(2020, 10, 7, 13, 20, 59, 906909)

In [16]:
print(now.year, now.month, now.day)

2020 10 7

In [20]:
delta = datetime(2011, 1, 7) - datetime(2010, 3, 2, 8, 20)
delta

datetime.timedelta(days=310, seconds=56400)

In [2]:
from datetime import timedelta

In [22]:
start = datetime(3013, 2, 10)
start +=  timedelta(2)
start

datetime.datetime(3013, 2, 12, 0, 0)

### 字符串和datetime之间的互换

In [23]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [25]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [26]:
stamp.strftime('%y-%m-%d')

'11-01-03'

<img src='./image/date1.png'>

<img src='./image/date2.png'>

#### 字符串转日期

In [27]:
value = '2011-03-01'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 3, 1, 0, 0)

In [28]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [29]:
from dateutil.parser import parse

In [30]:
parse(value)

datetime.datetime(2011, 3, 1, 0, 0)

In [31]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

将天放到前面

In [32]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [33]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

NaT（Not a Time）是pandas中时间戳数据的null值。

In [34]:
pd.to_datetime(datestrs + [None])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [4]:
from datetime import datetime

In [5]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.012765
2011-01-05   -0.753570
2011-01-07   -0.679389
2011-01-08    1.045425
2011-01-10   -0.713184
2011-01-12    0.380463
dtype: float64

In [10]:
data = pd.DataFrame(data={'time': dates, 'num': np.random.randn(6)})

In [11]:
data

        time       num
0 2011-01-02  0.062099
1 2011-01-05 -0.515992
2 2011-01-07 -1.996549
3 2011-01-08 -1.485242
4 2011-01-10  1.675203
5 2011-01-12 -0.294154

In [14]:
data1 = data.groupby(data['time'])
data1.sum()

                 num
time
2011-01-02  0.062099
2011-01-05 -0.515992
2011-01-07 -1.996549
2011-01-08 -1.485242
2011-01-10  1.675203
2011-01-12 -0.294154

按时间相加

In [40]:
ts + ts[::2]

2011-01-02   -1.084713
2011-01-05         NaN
2011-01-07    0.297529
2011-01-08         NaN
2011-01-10   -0.536428
2011-01-12         NaN
dtype: float64

In [41]:
ts.index.dtype

dtype('<M8[ns]')

#### 切片：

In [43]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.148765
2011-01-08   -0.291419
2011-01-10   -0.268214
2011-01-12    0.861775
dtype: float64

### 带有重复索引的时间序列

In [15]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts.index.is_unique

False

In [18]:
data = pd.DataFrame(data={'time': dup_ts.index, 'num': np.random.randn(5)})
data

        time       num
0 2000-01-01 -0.955991
1 2000-01-02 -0.348583
2 2000-01-02 -1.551001
3 2000-01-02  1.741166
4 2000-01-03 -0.745200

In [19]:
group = data.groupby(data['time'])
group.sum()

                 num
time
2000-01-01 -0.955991
2000-01-02 -0.158419
2000-01-03 -0.745200

In [48]:
group = dup_ts.groupby(level=0)
group.sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int32

### 期的范围、频率以及移动

#### 生成日期范围

In [20]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [22]:
index2 = pd.date_range('2012-02-21', periods=10)
index2

DatetimeIndex(['2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
               '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
               '2012-02-29', '2012-03-01'],
              dtype='datetime64[ns]', freq='D')

基本的时间序列频率

<img src='./image/date3.png'>

<img src='./image/date4.png'>

<img src='./image/date5.png'>

In [24]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

### 频率和日期偏移量

In [25]:
from pandas.tseries.offsets import Hour, Minute

In [26]:
h = Hour(4)
h

In [27]:
pd.date_range('2000-01-01', '2000-01-02 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [28]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

时间序列的基础频率

<img src='./image/date6.png'>

<img src='./image/date7.png'>

<img src='./image/date8.png'>

### 时区处理

In [29]:
import pytz

In [30]:
pytz.common_timezones[-5]

'US/Eastern'

###  时期及其算术运算

In [31]:
p = pd.Period(2007, freq='A-DEC')

In [32]:
p + 2

Period('2009', 'A-DEC')