In [1]:
import pandas as pd
import numpy as np

### 分类数据

In [3]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
values.unique
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

映射

In [5]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [7]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
n = len(fruits)
df = pd.DataFrame(data={'fruit': fruits, 'id': np.arange(n),
                       'count': np.random.randint(3, 15, size=n),
                       'weight': np.random.uniform(0, 4, size=n)},
                )
df

    fruit  id  count    weight
0   apple   0      7  2.118518
1  orange   1      8  0.179039
2   apple   2     11  0.944281
3   apple   3      3  1.183788
4   apple   4      7  2.312430
5  orange   5     11  3.079262
6   apple   6      3  0.499955
7   apple   7     13  2.795565

In [8]:
fruit_cats = df['fruit'].astype('category')
fruit_cats

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

#### 用分类进行计算

In [9]:
np.random.seed(12345)

In [ ]:
draws =np.random.randn(1000)