In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(data=np.random.randint(1, 1000, size=(20, 5)))
data

      0    1    2    3    4
0   194  587  443  882  822
1   507  588  381  342  855
2   430  464  106  602  450
3   953  292  287  158  565
4   918  746  709  877  253
5    89  654  425  436   58
6    98  250  260  252  812
7    86  879  548  340  413
8   883  930  718  484  186
9   311   11  972    2  416
10  622   11  827  214  280
11  586  259  860  197  359
12  790  637  386  885  956
13  149  478  173  517  804
14  114  147  778  194  781
15  730  404  765  151  300
16  923  919  176  502  711
17  827  772  171  221  920
18   80  568  985  210  283
19  881  698  948  839  536

In [4]:
data.to_excel('to_excel1.xlsx', sheet_name='A', header=None, index=None)

<h4>在同一个Excel文件内写入多个sheet</h4>

In [6]:
writer = pd.ExcelWriter('to_excel2.xlsx')
data.to_excel(writer, sheet_name='A', header=None, index=None)
data2 = pd.DataFrame(data=np.random.uniform(size=(20, 5)))
data2.to_excel(writer, sheet_name='B', header=None, index=None)
writer.save()

<h4>会话式保存多个文件</h4>

In [9]:
data3 = pd.DataFrame(data=np.random.randint(200, size=(100, 4)))
with pd.ExcelWriter('to_excel3.xlsx') as w:
    data.to_excel(w, sheet_name='A', index=None, header=None)
    data2.to_excel(w, sheet_name='B', index=None, header=None)
    data3.to_excel(w, sheet_name='C', index=None, header=None)

In [10]:
data3 = pd.DataFrame(data=np.random.randint(200, size=(100, 5)))
data.to_csv('to_csv1.txt')
data2.to_csv('to_csv1.txt', mode='a', header=None, index=[len(data) + x for x in list(range(1, len(data2)))])

In [14]:
data4 = pd.DataFrame(data=np.random.randint(1, 1000, size=(1000, 5)), columns=['a', 'b', 'c', 'd', 'e'])
data4.to_csv('to_csv2.txt', index=None)

In [15]:
data5 = pd.read_csv('to_csv2.txt', chunksize=200)
chunks = []
for c in data5:
    chunks.append(c)
    print(c.shape)
# 合并数据
data6 = pd.concat(chunks, axis=0)
print(data6.shape)

(200, 5)
(200, 5)
(200, 5)
(200, 5)
(200, 5)
(1000, 5)

In [16]:
data6.head()

     a    b    c    d    e
0  341   76   67  206  319
1  891  886  937  966  382
2  393  802  768  757  344
3  876  274  270  260  779
4  478  347  465  183  937

In [17]:
data6.dtypes

a    int64
b    int64
c    int64
d    int64
e    int64
dtype: object

<h4>查看后5条数据</h4>

In [19]:
data6.tail()

       a    b    c    d    e
995  472  274  571  805  515
996  864  812  454  884  544
997  288  562  855  340  713
998  269   46  173  534  639
999  745  528  182  971  343

<h4>根据条件获取数据</h4>

In [21]:
data7 = data6[data6['a'] > 300][data6['b'] > 300]

d:\python3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [22]:
data7.shape

(494, 5)

<h4>查看指定行和指定列</h4>

In [29]:
data6[['a', 'b']]
data6.iloc[:2, 3:5]  #接受索引
data6.loc[:2, ['c', 'e']]   # 列不接受索引
data6.iat[2, 4]   # 查看单行单列

344

<h4>查看数据的详细信息</h4>

In [30]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
a    1000 non-null int64
b    1000 non-null int64
c    1000 non-null int64
d    1000 non-null int64
e    1000 non-null int64
dtypes: int64(5)
memory usage: 39.2 KB