In [1]:
from jupyterthemes import jtplot
jtplot.style(theme='oceans16')

In [12]:
import pandas as pd
from pandas import Series, DataFrame

SyntaxError: invalid syntax (<ipython-input-12-3cbe1bcc0372>, line 2)

In [3]:
obj = pd.Series([4, 7, 3, 1], index=['a', 'b', 'c', 'd'])
obj.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

<h4>DataFrame</h4>

In [5]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [6]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [7]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

<h4>如果指定了列序列，则DataFrame的列就会按照指定顺序进行排列：</h4>

In [8]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

<h4>如果传入的列在数据中找不到，就会在结果中产生缺失值：</h4>

In [9]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])

In [10]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

<h4>行也可以通过位置或名称的方式进行获取，比如用loc属性</h4>

In [11]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

<h4>将列表或数组赋值给某个列时，其长度必须跟DataFrame的长度相匹配。如果赋值的是一个Series，就会精确匹配DataFrame的索引，所有的空位都将被填上缺失值：</h4>

In [13]:
val = pd.Series([-1, -2, -3], index=['two', 'four', 'five'])
frame2['debt'] = val

In [14]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.0
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -2.0
five   2002  Nevada  2.9  -3.0
six    2003  Nevada  3.2   NaN

In [15]:
frame2['eastern'] = frame2.state == 'Ohio'

In [16]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.0     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -2.0    False
five   2002  Nevada  2.9  -3.0    False
six    2003  Nevada  3.2   NaN    False

In [17]:
del frame2['eastern']

In [18]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.0
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -2.0
five   2002  Nevada  2.9  -3.0
six    2003  Nevada  3.2   NaN

<h4>如果嵌套字典传给DataFrame，pandas就会被解释为：外层字典的键作为列，内层键则作为行索引：</h4>

In [19]:
pop = {'nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 20}}

In [20]:
frame3 = pd.DataFrame(pop)
frame3

      nevada  Ohio
2001     2.4   1.7
2002     2.9  20.0
2000     NaN   1.5

In [21]:
frame3.T

        2001  2002  2000
nevada   2.4   2.9   NaN
Ohio     1.7  20.0   1.5

In [22]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

重新索引时可能需要做一些插值处理。method选项即可达到此目的，例如，使用ffill可以实现前向值填充：

In [23]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [28]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [29]:
obj3.drop([0, 2])    # 删除轴

4    yellow
dtype: object

In [30]:
import numpy as np

In [32]:
data = pd.DataFrame(np.arange(16).reshape(4, 4), index = ['a', 'b', 'c', 'd'], columns=['A', 'B', 'C', 'D'])

In [33]:
data

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [35]:
data.drop('B', axis=1)    # 删除列

    A   C   D
a   0   2   3
b   4   6   7
c   8  10  11
d  12  14  15

<h2>相关系数 和协方差</h2>

In [36]:
import pandas_datareader.data as pdd

In [37]:
all_data = {ticker: pdd.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

ConnectionError: HTTPSConnectionPool(host='finance.yahoo.com', port=443): Read timed out.

In [ ]:
price = pd.DataFrame({ticker: data['Adj Close']})